.fillter { grid-area: fillter; }
.product { grid-area: product; }


.grid-container {
  display: grid;
  grid-template-areas:
    ' fillter product product product product'
    ' fillter product product product product';
  grid-gap: 10px;
  padding: 10px;
}
