.videos__container{
    padding: 20px;
    background-color: #fff;
    height: max-content;
}

.videos__title{
    text-align: center;
}
.videos__allVideos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.videos__items{
    list-style: none;
    text-align: center;
    
}
.videos__allVideos{
    display: flex;
    flex-wrap: wrap;
 
}
.videos__singleVideo{
    background-color: red;
    padding: 2rem;
    width: 100px;
    height: max-content;
 
}